<!-- BEGIN_INCLUDE(mock:expect) -->
    <mock:expect thatMessageProcessor="#[map-payload:content]" />
<!-- END_INCLUDE(mock:expect) -->


<!-- BEGIN_INCLUDE(mock:outboundEndpoint) -->

        <mock:outbound-endpoint address="http://localhost:10443/test" returnPayload-ref="#[string:test]">


            <mock:return-invocation-properties>
                <mock:return-invocation-property key="invocationTest" value-ref="#[string:invocationValue]"/>
            </mock:return-invocation-properties>

            <mock:return-inbound-properties>
                <mock:return-inbound-property key="inboundTest" value-ref="#[string:inboundValue]"/>
            </mock:return-inbound-properties>

            <mock:return-outbound-properties>
                <mock:return-outbound-property key="outboundTest" value-ref="#[string:outboundValue]"/>
            </mock:return-outbound-properties>

        </mock:outbound-endpoint>

<!-- END_INCLUDE(mock:outboundEndpoint) -->