<!-- BEGIN_INCLUDE(mock:expect) -->
 <mock:when messageProcessor="echo-component" >
         <mock:then-return payload-ref="#[string:expectedPayload]"/>
         </mock:when>
<!-- END_INCLUDE(mock:expect) -->


<!-- BEGIN_INCLUDE(mock:outboundEndpoint) -->

        <mock:outbound-endpoint address="http://localhost:10443/test" returnPayload-ref="#[string:test]">

        </mock:outbound-endpoint>

<!-- END_INCLUDE(mock:outboundEndpoint) -->

<!-- BEGIN_INCLUDE(mock:verifyCall) -->

        <mock:verify-call messageProcessor="test"/>


<!-- END_INCLUDE(mock:verifyCall) -->


<!-- BEGIN_INCLUDE(mock:spy) -->

        <mock:spy messageProcessor="test"/>


<!-- END_INCLUDE(mock:spy) -->

<!-- BEGIN_INCLUDE(mock:expectFail) -->

        <mock:throw-an exception-ref="#[new Exception()]" whenCalling="test"/>


<!-- END_INCLUDE(mock:expectFail) -->