<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Munit"
            icon="icons/studio16x16.png"
            category="org.eclipse.jdt.ui.java"
            fastViewWidthRatio="0.40"
            class="org.mule.munit.plugin.MunitTestRunnerViewPart"
            id="org.eclipse.jdt.munit.ResultView">
      </view>
   </extension>
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
       <propertyTester
            class="org.mule.munit.plugin.MuleResourcePropertyTester"
            id="org.mule.munit.plugin.MuleResourceTester"
            namespace="org.mule.munit.plugin"
            properties="isInMuleProject"
            type="org.eclipse.core.resources.IResource"
            >
      </propertyTester>
      <launchConfigurationType
            name="Munit"
            delegateDescription="Munit"
            delegateName="Munit Delegate"
            delegate="org.mule.munit.plugin.MunitLaunchConfigurationDelegate"
            modes="run, debug"
            id="org.eclipse.jdt.munit.launchconfig"
>
      </launchConfigurationType>
   </extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="$nl$/icons/studio16x16.png"
            configTypeID="org.eclipse.jdt.munit.launchconfig"
            id="org.eclipse.jdt.munit.launchimage">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.jdt.munit.launchconfig"
            helpContextId="org.eclipse.jdt.junit.junit_tab_group"
            class="org.mule.munit.plugin.MunitConfigurationTab"
            id="org.eclipse.jdt.munit.launchConfigurationTabGroup.munit">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Debug Perspective for Munit"
               mode="debug">
         </launchMode>
         <launchMode
               description="Debug Perspective for Munit"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   
 <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="MUnit"
            icon="icons/studio16x16.png"
            helpContextId="org.eclipse.jdt.junit.launch_shortcut"
            class="org.mule.munit.plugin.MunitLaunchShortcut"
            modes="run, debug"
            id="org.eclipse.jdt.munit.munitShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.jdt.munit.launchconfig">
         </configurationType>
         <description
               description="MUnit"
               mode="debug">
         </description>
         <description
               description="MUnit"
               mode="run">
         </description>
      </shortcut>
   </extension>
   

</plugin>
