<!-- BEGIN_INCLUDE(sftpserver:startServer) -->
    <mulehttpclient:execute parameters="expression" />
<!-- END_INCLUDE(sftpserver:startServer) -->


<!-- BEGIN_INCLUDE(sftpserver:stopServer) -->
    <mulehttpclient:execute parameters="expression" />
<!-- END_INCLUDE(sftpserver:stopServer) -->


<!-- BEGIN_INCLUDE(sftpserver:containsFiles) -->
    <mulehttpclient:execute parameters="expression" />
<!-- END_INCLUDE(sftpserver:containsFiles) -->